@charset "utf-8";
/* CSS Document */

*{ margin: 0px; padding: 0px; }

.new-registration-wrapper{ max-width: 600px; color:#fff; }

.new-registration-wrapper h1{ border-bottom: 1px solid #fff; padding-bottom: 20px;  margin-bottom: 30px; font-size:28px;}
.new-registration-wrapper .form-control{border-radius:0px;}

.table-wrapper{ background:#fff;  }

/*.tableText .dataTables_length > label,
.tableText .dataTables_filter > label,
.tableText .dataTables_info,
.tableText .dataTables_paginate a.paginate_button{ 
	color:#fff;
}
.tableText .dataTables_wrapper table.dataTable > thead > tr > th{
	color:#fff;
}*/

